// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Noto Sans JP",
sans-serif !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand colors
/// @type Color

$main-color : #1A2C3D;

//Box Shadow
$box-shadow : 0 1px 8px 0 rgba(0, 0, 0, .1);

/// White
/// @type Colors
$white: rgb(255, 255, 255) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1200px !default;

